<div class="container">
  <h2>Modlist checker</h2>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Modlist">
      <div>Instructions: TODO</div>
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="selected.value"
        (selectedIndexChange)="selected.setValue($event)"
      >
        <mat-tab label="Upload ModConfig">
          <br />
          <div  style="text-align: center;">
            <input type="file" accept=".xml" name="ModConfigInput" />
          </div>
          
        </mat-tab>
        <mat-tab label="Text">
          <br />
          <textarea name="TextAreaInput"></textarea>
        </mat-tab>
      </mat-tab-group>

      <!-- TODO: remove these horrible brs and actually do some real styling -->
      <br /><br />
      <div>
        <button (click)="parseModsInput($event)">scan mods</button>
      </div>
    </mat-tab>
    <mat-tab label="Advanced">
      <modlistadvancedtab
        [defaultRulesUrl]="defaultRulesUrl"
        [(rulesUrl)]="rulesUrl"
      ></modlistadvancedtab>
    </mat-tab>
  </mat-tab-group>
  
  <div [hidden]="modsParsed.length == 0">

    <br/>
    <label>Severity Filter:</label>
    <mat-chip-listbox id="chipList" #chipList multiple label="Theat Level">
      <mat-chip-option selected>None</mat-chip-option>
      <mat-chip-option selected>Info</mat-chip-option>
      <mat-chip-option selected>Severe</mat-chip-option>
      <mat-chip-option selected>Dire</mat-chip-option>
    </mat-chip-listbox>
  </div >


  <div *ngFor="let item of modsParsed; index as i">
    <div
      [hidden]="shouldHide(item)"
      [matTooltip]="getTooltip(item)"
      matTooltipPosition="right"
      [ngClass]="getSeverity(item)"
    >
      {{ item }}
    </div>
  </div>
</div>
